* {
  box-sizing: border-box;
}

body {
  background-color: var(--accentcolor);
  font-family: "Nunito", sans-serif;
}

h1 {
  color: var(--primarycolor);
  text-align: center;
  font-size: 42px;
  margin-bottom: 32px;
}

.gallery {
  display: flex;
  flex-direction: column;
  margin: 40px;
}

.row-container {
  display: flex;
  flex-direction: row;
  padding-right: 14px;
  padding-bottom: 14px;
}

.frame {
  border: 3px solid var(--primarycolor);
  width: 426px;
  height: 340px;
  margin: 16px 24px;
}

.frame:hover {
  border: 3px solid var(--secondarycolor);
}

.frame img {
  width: 418px;
  height: 275px;
}

.desc {
  display: flex;
  flex-direction: row;
  padding: 10px;
  text-align: center;
  justify-content: space-between;
}

.desc i {
  color: var(--secondarycolor);
}

span {
  font-size: 24px;
}

.next {
  color: var(--secondarycolor);
}

.travels {
  color: var(--primarycolor);
}
