body {
  font-family: "Nunito", sans-serif;
}

.page-content {
  display: flex;
  height: 100vh;
  padding: 16px;
  background-color: var(--accentcolor);
}

.left-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50%;
  margin: 36px;
  padding: 16px 32px;
}

.right-panel {
  width: 50vw;
  min-height: 500px;
  min-width: 450px;
  max-height: 650px;
  max-width: 500px;
  margin: 28px;
  background-image: url("../assets/images/query.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-container {
  display: flex;
  justify-content: center;
  text-align: left;
  width: 100%;
  padding: 32px;
  background-color: rgba(79, 91, 115, 0.12);
}

.query-form-heading {
  font-size: 2rem;
  margin-bottom: 16px;
}

.queryform-content-text {
  font-size: 1.5rem;
  margin-bottom: 16px;
  font-family: "Nunito", sans-serif;
  color: var(--primarycolor);
}

@media (min-width: 360px) and (max-width: 820px) {
  .left-panel {
    width: 100%;
  }

  .right-panel {
    display: none;
  }
}

@media (max-width: 360px) {
  .left-panel {
    width: 100%;
    margin: 24px;
    padding: 8px 16px;
  }

  .right-panel {
    display: none;
  }

  .query-form-heading {
    font-size: 1.25rem;
  }

  .queryform-content-text {
    font-size: 1rem;
  }
}
