.register {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.left-container {
  width: 50vw;
  min-height: 415px;
  margin: 0;
  background-image: url("../assets/images/register next.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.right-container {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accentcolor);
}

.registration {
  width: 75%;
  font-family: "Nunito", sans-serif;
  margin: 42px;
  padding: 36px 24px;
  background-color: rgba(79, 91, 115, 0.12);
}

.registration h2 {
  text-align: center;
  font-size: 42px;
  margin-bottom: 32px;
}

.reg-heading-highlight {
  color: var(--secondarycolor);
}

.registration p {
  font-size: 24px;
  font-family: "Nunito", sans-serif;
  color: var(--primarycolor);
}

.form-details {
  padding-left: 36px;
}

.form-details h5 {
  font-size: 16px;
}
