.register {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  max-height: fit-content;
  display: flex;
}

.left-container {
  width: 50vw;
  min-height: 415px;
  margin: 0;
  background-image: url("../assets/images/register next.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.right-container {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accentcolor);
}

.registration {
  width: 75%;
  font-family: "Nunito", sans-serif;
  margin: 42px;
  padding: 36px 24px;
  background-color: rgba(79, 91, 115, 0.12);
}

.registration h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 32px;
}

.reg-heading-highlight {
  color: var(--secondarycolor);
}

.form-details {
  width: 75%;
  margin: 0 auto;
}

.form-details h5 {
  font-size: 16px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  padding: 6px 12px;
}

.form-button {
  display: flex;
  justify-content: space-evenly;
}

@media (min-width: 360px) and (max-width: 820px) {
  .left-container {
    display: none;
  }

  .right-container {
    width: 100%;
  }

  .register {
    width: 100vw;
  }
}

@media (max-width: 360px) {
  .left-container {
    display: none;
  }

  .right-container {
    width: 100%;
  }

  .registration {
    margin: 18px;
    padding: 18px 12px;
  }

  .registration h2 {
    font-size: 1.5rem;
  }
}
